.form {
  position: absolute;
  top: 30%;
  /* background: rgb(247, 245, 245); */
  height: 350px;
  padding: 50px;
  width: 500px;
  left: 50%;

  transform: translateX(-50%);
}

.form .input {
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
  border-top: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
  border-right: none;
  border-left: none;
  margin-top: 3px;
  margin-bottom: 5px;
  /* border-color: #fafafa; */
  outline: none;
  font-size: 22px;
}

.log {
  background-color: red;
  border-radius: 99px;
  width: 100%;
  border: none;
  padding: 10px 10px;
  transition: 0.5s ease-in-out;
}

.log:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.recover {
  display: flex;
}

.forgot {
  width: 100%;
  display: flex;
  text-align: center;
}

.forgot > a {
  color: #575757;
  font-size: 12px;
  margin: 7px;
  text-decoration: none;
  position: absolute;
  left: 10%;
}

.new {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  text-decoration: none;
}
